<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="LIS" value="Data Source=localhost;Initial Catalog=SMARTDONOR;Integrated Security=True" />    
  </appSettings>
  
  <connectionStrings>
    <add name="SMARTDONORConnectionString" connectionString="Data Source=localhost;Initial Catalog=SMARTDONOR;Integrated Security=True"
     providerName="System.Data.SqlClient" />

    
    
  </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
